### Consumer Product Index Data

source: https://data-explorer.oecd.org/vis?fs[0]=Topic%2C1%7CEconomy%23ECO%23%7CPrices%23ECO_PRI%23&pg=0&fc=Topic&bp=true&snb=16&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_PRICES%40DF_PRICES_ALL&df[ag]=OECD.SDD.TPS&df[vs]=1.0&pd=%2C&dq=.M.N.CPI.PA._T.N.GY&ly[rw]=REF_AREA&ly[cl]=TIME_PERIOD&to[TIME_PERIOD]=false&lo=13&lom=LASTNPERIODS&vw=tb

In [1]:
import pandas as pd

OECD=pd.read_csv("OECD.csv")
#OECD[['Expenditure','OBS_VALUE']]

In [2]:
import pandas as pd

# Assuming you already have a DataFrame named 'df'
# If not, you can create it using pd.read_csv or another method

# Replace 'YourColumnName' with the actual column name you are interested in
column_name = 'Expenditure'

# Print unique values in the specified column
unique_values = OECD[column_name].unique()
print("Unique values in column '{}':".format(column_name))
print(unique_values)

Unique values in column 'Expenditure':
['Total' 'Food and non-alcoholic beverages' 'Housing']

In [3]:
OECD.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'METHODOLOGY',
       'Methodology', 'MEASURE', 'Measure', 'UNIT_MEASURE', 'Unit of measure',
       'EXPENDITURE', 'Expenditure', 'ADJUSTMENT', 'Adjustment',
       'TRANSFORMATION', 'Transformation', 'TIME_PERIOD', 'Time period',
       'OBS_VALUE', 'Observation value', 'OBS_STATUS', 'Observation status',
       'UNIT_MULT', 'Unit multiplier', 'BASE_PER', 'Base period', 'DURABILITY',
       'Durability', 'DECIMALS', 'Decimals'],
      dtype='object')

In [4]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# If not, you can replace 'df' with the actual name of your DataFrame

# Replace 'Expenditure' with the actual column name you are interested in
column_name = 'Expenditure'

# Create a new DataFrame with the unique values in the 'Expenditure' column as columns
pivot_df = pd.pivot_table(OECD, values='OBS_VALUE', index=['REF_AREA', 'TIME_PERIOD'], columns=column_name, aggfunc='sum', fill_value=0)

# Reset the index to flatten the DataFrame
pivot_df.reset_index(inplace=True)

# Print the modified DataFrame
pivot_df

Expenditure,REF_AREA,TIME_PERIOD,Food and non-alcoholic beverages,Housing,Total
0,USA,2000-01,1.217285,2.964118,2.738892
1,USA,2000-02,1.526252,3.003625,3.221884
2,USA,2000-03,1.835985,3.197525,3.757576
3,USA,2000-04,1.834862,3.036541,3.068592
4,USA,2000-05,2.196461,3.141092,3.188929
...,...,...,...,...,...
284,USA,2023-09,2.376901,7.192297,3.699698
285,USA,2023-10,2.048327,6.956841,3.241145
286,USA,2023-11,1.603511,6.756000,3.137271
287,USA,2023-12,1.165851,6.394543,3.352123
288,USA,2024-01,1.161768,0.000000,3.090885

In [5]:
for expenditure in ['Food and non-alcoholic beverages', 'Housing', 'Total']:
    pivot_df[f'{expenditure} - Percent Change 1 month'] = pivot_df[expenditure].pct_change() * 100
    pivot_df[f'{expenditure} - Percent Change 3 month'] = pivot_df[expenditure].pct_change(periods=3) * 100
    pivot_df[f'{expenditure} - Percent Change 6 month'] = pivot_df[expenditure].pct_change(periods=6) * 100
    pivot_df[f'{expenditure} - Percent Change 1yr'] = pivot_df[expenditure].pct_change(periods=12) * 100

In [6]:
# Convert 'TIME_PERIOD' column to datetime format
pivot_df['TIME_PERIOD'] = pd.to_datetime(pivot_df['TIME_PERIOD'])

# Extract year and month
pivot_df['year'] = pivot_df['TIME_PERIOD'].dt.year
pivot_df['period'] = 'M' + pivot_df['TIME_PERIOD'].dt.month.astype(str).str.zfill(2)

# Rearrange columns to have 'year' and 'period' as second and third columns
pivot_df = pivot_df[['REF_AREA', 'year', 'period'] + [col for col in pivot_df.columns if col not in ['REF_AREA', 'year', 'period']]]

In [7]:
pivot_df

Expenditure,REF_AREA,year,period,TIME_PERIOD,Food and non-alcoholic beverages,Housing,Total,Food and non-alcoholic beverages - Percent Change 1 month,Food and non-alcoholic beverages - Percent Change 3 month,Food and non-alcoholic beverages - Percent Change 6 month,Food and non-alcoholic beverages - Percent Change 1yr,Housing - Percent Change 1 month,Housing - Percent Change 3 month,Housing - Percent Change 6 month,Housing - Percent Change 1yr,Total - Percent Change 1 month,Total - Percent Change 3 month,Total - Percent Change 6 month,Total - Percent Change 1yr
0,USA,2000,M01,2000-01-01,1.217285,2.964118,2.738892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USA,2000,M02,2000-02-01,1.526252,3.003625,3.221884,25.381649,NaN,NaN,NaN,1.332842,NaN,NaN,NaN,17.634576,NaN,NaN,NaN
2,USA,2000,M03,2000-03-01,1.835985,3.197525,3.757576,20.293700,NaN,NaN,NaN,6.455533,NaN,NaN,NaN,16.626669,NaN,NaN,NaN
3,USA,2000,M04,2000-04-01,1.834862,3.036541,3.068592,-0.061166,50.733969,NaN,NaN,-5.034644,2.443324,NaN,NaN,-18.335863,12.037715,NaN,NaN
4,USA,2000,M05,2000-05-01,2.196461,3.141092,3.188929,19.707150,43.912080,NaN,NaN,3.443095,4.576703,NaN,NaN,3.921571,-1.022849,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,USA,2023,M09,2023-09-01,2.376901,7.192297,3.699698,-17.852413,-48.116577,-71.450598,-81.612967,-3.586496,-9.539469,-12.490919,5.502819,0.943655,24.603442,-25.783003,-54.890919
285,USA,2023,M10,2023-10-01,2.048327,6.956841,3.241145,-13.823630,-41.239112,-70.778991,-83.533210,-3.273725,-10.707491,-16.072208,-1.138728,-12.394336,1.994002,-34.260961,-58.154082
286,USA,2023,M11,2023-11-01,1.603511,6.756000,3.137271,-21.716064,-44.581386,-71.605152,-86.589208,-2.886957,-9.435103,-17.599587,-7.493493,-3.204855,-14.401770,-22.490759,-55.877237
287,USA,2023,M12,2023-12-01,1.165851,6.394543,3.352123,-27.293857,-50.950797,-74.551595,-90.188711,-5.350163,-11.091783,-19.573155,-17.215972,6.848372,-9.394686,12.897341,-48.064538
288,USA,2024,M01,2024-01-01,1.161768,0.000000,3.090885,-0.350216,-43.282103,-66.672060,-89.770720,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371

### Producer Product Index

source: https://www.bls.gov/ppi/databases/

In [8]:
FarmProductsPPI = pd.read_csv('FarmProductsPPI.csv', delimiter='\t')
ProcessedFoodsPPI = pd.read_csv('ProcessedFoodsPPI.csv', delimiter='\t')
AllCommoditiesPPI = pd.read_csv('AllCommoditiesPPI.csv', delimiter='\t')

In [9]:
FarmProductsPPI.head()

   series_id                       year period         value footnote_codes
0  WPS01                           1967    M01          42.3            NaN
1  WPS01                           1967    M02          41.3            NaN
2  WPS01                           1967    M03          41.0            NaN
3  WPS01                           1967    M04          40.6            NaN
4  WPS01                           1967    M05          41.3            NaN

In [10]:
ProcessedFoodsPPI.head()

   series_id                       year period         value footnote_codes
0  WPS02                           1967    M01          40.0            NaN
1  WPS02                           1967    M02          39.5            NaN
2  WPS02                           1967    M03          39.4            NaN
3  WPS02                           1967    M04          39.4            NaN
4  WPS02                           1967    M05          39.6            NaN

In [11]:
AllCommoditiesPPI.head()

   series_id                       year period         value footnote_codes
0  WPS00000000                     1967    M01          33.4            NaN
1  WPS00000000                     1967    M02          33.2            NaN
2  WPS00000000                     1967    M03          33.2            NaN
3  WPS00000000                     1967    M04          33.2            NaN
4  WPS00000000                     1967    M05          33.3            NaN

In [12]:
FarmProductsPPI = FarmProductsPPI.sort_values(by='year')
ProcessedFoodsPPI = ProcessedFoodsPPI.sort_values(by='year')
AllCommoditiesPPI = AllCommoditiesPPI.sort_values(by='year')

In [13]:
# Remove all years before 2000
FarmProductsPPI = FarmProductsPPI[FarmProductsPPI['year'] >= 2000]
ProcessedFoodsPPI = ProcessedFoodsPPI[ProcessedFoodsPPI['year'] >= 2000]
AllCommoditiesPPI = AllCommoditiesPPI[AllCommoditiesPPI['year'] >= 2000]

In [14]:
FarmProductsPPI = FarmProductsPPI.sort_values(by=['year', 'period'])
ProcessedFoodsPPI = ProcessedFoodsPPI.sort_values(by=['year', 'period'])
AllCommoditiesPPI = AllCommoditiesPPI.sort_values(by=['year', 'period'])

In [15]:
#FarmProductsPPI
#ProcessedFoodsPPI
#AllCommoditiesPPI

In [16]:
FarmProductsPPI

,series_id,year,period,value,footnote_codes
76714,WPU0131,2000,M01,102.200,NaN
82821,WPU013201,2000,M01,61.300,NaN
30172,WPU01110216,2000,M01,113.300,NaN
31433,WPU01110221,2000,M01,100.400,NaN
51226,WPU01130225,2000,M01,100.200,NaN
...,...,...,...,...,...
36750,WPU0113,2024,M02,311.799,P
34464,WPU01110230,2024,M02,124.464,P
34383,WPU01110229,2024,M02,115.252,P
108277,WPU0181,2024,M02,321.049,P
114720,WPU01830181,2024,M02,172.799,P

In [17]:
columns_to_drop = ['series_id                     ', 'footnote_codes']
FarmProductsPPI = FarmProductsPPI.drop(columns=columns_to_drop)

In [18]:
FarmProductsPPI

        year period         value
76714   2000    M01       102.200
82821   2000    M01        61.300
30172   2000    M01       113.300
31433   2000    M01       100.400
51226   2000    M01       100.200
...      ...    ...           ...
36750   2024    M02       311.799
34464   2024    M02       124.464
34383   2024    M02       115.252
108277  2024    M02       321.049
114720  2024    M02       172.799

[51923 rows x 3 columns]

In [19]:
FarmProductsPPI = FarmProductsPPI.groupby(['year', 'period']).mean().reset_index()

In [20]:
FarmProductsPPI

     year period         value
0    2000    M01    107.539726
1    2000    M02    110.031507
2    2000    M03    103.305109
3    2000    M04    105.141176
4    2000    M05    107.012057
..    ...    ...           ...
309  2023    M11    252.395454
310  2023    M12    242.372863
311  2023    M13    258.354314
312  2024    M01    251.705841
313  2024    M02    260.579082

[314 rows x 3 columns]

In [21]:
import pandas as pd

# Assuming your dataset is already loaded into a DataFrame called df
# If not, you should load your dataset into a DataFrame first

# Count the number of rows with year 2000 and period M01
count_rows = FarmProductsPPI[(FarmProductsPPI['year'] == 2000) & (FarmProductsPPI['period'] == 'M01')].shape[0]

print("Number of rows with year 2000 and period M01:", count_rows)

Number of rows with year 2000 and period M01: 1

In [22]:
ProcessedFoodsPPI

,series_id,year,period,value,footnote_codes
88662,WPU0235,2000,M01,137.000,NaN
65354,WPU02230199,2000,M01,267.500,NaN
96847,WPU02410239,2000,M01,120.800,NaN
72981,WPU02310301,2000,M01,132.900,NaN
64708,WPU02230133,2000,M01,105.100,NaN
...,...,...,...,...,...
55235,WPU0222,2024,M02,174.221,P
56238,WPU022203,2024,M02,203.241,P
169490,WPU0293,2024,M02,253.386,P
53806,WPU02210579,2024,M02,290.875,P
177839,WPU02940334,2024,M02,87.094,P

In [23]:
columns_to_drop = ['series_id                     ', 'footnote_codes']
ProcessedFoodsPPI = ProcessedFoodsPPI.drop(columns=columns_to_drop)

In [24]:
ProcessedFoodsPPI

        year period         value
88662   2000    M01       137.000
65354   2000    M01       267.500
96847   2000    M01       120.800
72981   2000    M01       132.900
64708   2000    M01       105.100
...      ...    ...           ...
55235   2024    M02       174.221
56238   2024    M02       203.241
169490  2024    M02       253.386
53806   2024    M02       290.875
177839  2024    M02        87.094

[96585 rows x 3 columns]

In [25]:
ProcessedFoodsPPI = ProcessedFoodsPPI.groupby(['year', 'period']).mean().reset_index()

In [26]:
ProcessedFoodsPPI

     year period         value
0    2000    M01    128.068831
1    2000    M02    129.045887
2    2000    M03    129.228571
3    2000    M04    131.709957
4    2000    M05    129.898261
..    ...    ...           ...
309  2023    M11    220.643978
310  2023    M12    219.361242
311  2023    M13    215.807902
312  2024    M01    222.420756
313  2024    M02    218.488719

[314 rows x 3 columns]

In [27]:
import pandas as pd

# Assuming your dataset is already loaded into a DataFrame called df
# If not, you should load your dataset into a DataFrame first

# Count the number of rows with year 2000 and period M01
count_rows = ProcessedFoodsPPI[(ProcessedFoodsPPI['year'] == 2000) & (ProcessedFoodsPPI['period'] == 'M01')].shape[0]

print("Number of rows with year 2000 and period M01:", count_rows)

Number of rows with year 2000 and period M01: 1

In [28]:
AllCommoditiesPPI

      series_id                       year period         value footnote_codes
1227  WPU00000000                     2000    M01       128.300            NaN
1228  WPU00000000                     2000    M02       129.800            NaN
1229  WPU00000000                     2000    M03       130.800            NaN
1230  WPU00000000                     2000    M04       130.700            NaN
1231  WPU00000000                     2000    M05       131.600            NaN
...                              ...   ...    ...           ...            ...
1536  WPU00000000                     2023    M11       252.926              P
1537  WPU00000000                     2023    M12       249.892              P
1538  WPU00000000                     2023    M13       255.738              P
1539  WPU00000000                     2024    M01       251.328              P
1540  WPU00000000                     2024    M02       255.510              P

[314 rows x 5 columns]

In [29]:
columns_to_drop = ['series_id                     ', 'footnote_codes']
AllCommoditiesPPI = AllCommoditiesPPI.drop(columns=columns_to_drop)

In [30]:
AllCommoditiesPPI

      year period         value
1227  2000    M01       128.300
1228  2000    M02       129.800
1229  2000    M03       130.800
1230  2000    M04       130.700
1231  2000    M05       131.600
...    ...    ...           ...
1536  2023    M11       252.926
1537  2023    M12       249.892
1538  2023    M13       255.738
1539  2024    M01       251.328
1540  2024    M02       255.510

[314 rows x 3 columns]

In [31]:
import pandas as pd

# Assuming your dataset is already loaded into a DataFrame called df
# If not, you should load your dataset into a DataFrame first

# Count the number of rows with year 2000 and period M01
count_rows = AllCommoditiesPPI[(AllCommoditiesPPI['year'] == 2000) & (AllCommoditiesPPI['period'] == 'M01')].shape[0]

print("Number of rows with year 2000 and period M01:", count_rows)

Number of rows with year 2000 and period M01: 1

In [32]:
merged_df = pd.merge(FarmProductsPPI, ProcessedFoodsPPI, on=['year', 'period'], suffixes=('_FarmProducts', '_ProcessedFoods'))
merged_df = pd.merge(merged_df, AllCommoditiesPPI, on=['year', 'period'], suffixes=('', '_AllCommodities'))

In [33]:
PPI=merged_df

In [34]:
file_path = 'mergedPPI.csv'

# Save the DataFrame as a CSV file
PPI.to_csv(file_path, index=False)

print("CSV file saved successfully.")

CSV file saved successfully.

In [35]:
merged_df

,year,period,value_FarmProducts,value_ProcessedFoods,value
0,2000,M01,107.539726,128.068831,128.300
1,2000,M02,110.031507,129.045887,129.800
2,2000,M03,103.305109,129.228571,130.800
3,2000,M04,105.141176,131.709957,130.700
4,2000,M05,107.012057,129.898261,131.600
...,...,...,...,...,...
309,2023,M11,252.395454,220.643978,252.926
310,2023,M12,242.372863,219.361242,249.892
311,2023,M13,258.354314,215.807902,255.738
312,2024,M01,251.705841,222.420756,251.328
313,2024,M02,260.579082,218.488719,255.510

In [36]:
PPI

,year,period,value_FarmProducts,value_ProcessedFoods,value
0,2000,M01,107.539726,128.068831,128.300
1,2000,M02,110.031507,129.045887,129.800
2,2000,M03,103.305109,129.228571,130.800
3,2000,M04,105.141176,131.709957,130.700
4,2000,M05,107.012057,129.898261,131.600
...,...,...,...,...,...
309,2023,M11,252.395454,220.643978,252.926
310,2023,M12,242.372863,219.361242,249.892
311,2023,M13,258.354314,215.807902,255.738
312,2024,M01,251.705841,222.420756,251.328
313,2024,M02,260.579082,218.488719,255.510

### household food price data

source:  https://www.bls.gov/charts/consumer-price-index/consumer-price-index-average-price-data.htm

In [43]:
from bs4 import BeautifulSoup
import pandas as pd

# Read the HTML file
with open('Average price data (in U.S. dollars), selected items.mhtml', 'r') as file:
    html_content = file.read()

# Parse HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Find the table
table = soup.find('table')

# Convert table to dataframe
df = pd.read_html(str(table))[0]

# Clean up values in specified columns
columns_to_clean = ['Bananas, per lb.', 'Oranges, Navel, per lb.', 'Bread, white, pan, per lb.', 
                    'Tomatoes, field grown, per lb.', 'Chicken, fresh, whole, per lb.', 
                    'Electricity per KWH', 'Eggs, grade A, large, per doz.', 
                    'Gasoline, unleaded regular, per gallon', 'Ground chuck, 100% beef, per lb.']

for column in columns_to_clean:
    df[column] = df[column].str.replace('<= span class=3D"datavalue">', '')
    df[column] = df[column].str.replace('= ', '')

# Handle special cases
df['Utility (piped) gas per therm'] = df['Utility (piped) gas per therm'].str.replace('=', '')
df['Milk, fresh, whole, fortified, per gal.'] = df['Milk, fresh, whole, fortified, per gal.'].str.replace('= ', '')

# Save dataframe as CSV
df.to_csv('household_foods.csv', index=False)

In [44]:
household_foods=pd.read_csv('household_foods.csv')
household_foods

,Month,"Bananas, per lb.","Oranges, Navel, per lb.","Bread, white, pan, per lb.","Tomatoes, field grown, per lb.","Chicken, fresh, whole, per lb.",Electricity per KWH,"Eggs, grade A, large, per doz.","Gasoline, unleaded regular, per gallon","Ground chuck, 100% beef, per lb.",Utility (piped) gas per therm,"Milk, fresh, whole, fortified, per gal."
0,Feb 2004,0.504,0.725,0.943,1.510,1.060,0.091,1.583,1.672,2.558,1.021,2.814
1,Mar 2004,0.500,0.730,0.947,1.529,1.100,0.091,1.625,1.766,2.473,0.992,2.786
2,Apr 2004,0.505,0.744,0.974,1.519,1.120,0.091,1.562,1.833,2.486,0.998,2.906
3,May 2004,0.491,0.770,0.960,1.510,1.039,0.093,1.372,2.009,2.522,1.006,3.374
4,June 2004,0.498,0.878,0.979,1.331,1.060,0.099,1.311,2.041,2.485,1.047,3.574
...,...,...,...,...,...,...,...,...,...,...,...,...
236,Oct 2023,0.626,1.693,2.002,1.865,1.926,0.169,2.072,3.782,5.349,1.388,3.927
237,Nov 2023,0.627,1.664,1.976,1.942,1.976,0.168,2.138,3.500,5.201,1.442,3.997
238,Dec 2023,0.625,1.601,2.024,1.995,1.955,0.169,2.507,3.289,5.118,1.429,4.008
239,Jan 2024,0.617,1.550,2.033,2.146,1.987,0.173,2.522,3.221,5.093,1.452,3.958
240,Feb 2024,0.625,1.532,2.006,2.132,1.951,0.173,2.996,3.359,5.213,1.465,3.940

In [45]:
import pandas as pd

# Read the DataFrame
household_foods = pd.read_csv('household_foods.csv')

# Define a function to fix the entries in the 'Month' column
def fix_month_entry(month_str):
    try:
        # Attempt to parse with the specified format
        return pd.to_datetime(month_str, format='%b %Y')
    except ValueError:
        try:
            # Attempt to parse with other possible formats
            return pd.to_datetime(month_str)
        except ValueError:
            # If all attempts fail, return NaN
            return pd.NaT

# Apply the function to the 'Month' column
household_foods['Month'] = household_foods['Month'].apply(fix_month_entry)

# Drop rows where 'Month' couldn't be parsed
household_foods = household_foods.dropna(subset=['Month'])

# Extract year and month
household_foods['year'] = household_foods['Month'].dt.year
household_foods['period'] = 'M' + household_foods['Month'].dt.month.astype(str).str.zfill(2)

# Rearrange columns to have 'year' and 'period' next to 'Month'
household_foods = household_foods[['Month', 'year', 'period'] + [col for col in household_foods.columns if col not in ['Month', 'year', 'period']]]

household_foods

,Month,year,period,"Bananas, per lb.","Oranges, Navel, per lb.","Bread, white, pan, per lb.","Tomatoes, field grown, per lb.","Chicken, fresh, whole, per lb.",Electricity per KWH,"Eggs, grade A, large, per doz.","Gasoline, unleaded regular, per gallon","Ground chuck, 100% beef, per lb.",Utility (piped) gas per therm,"Milk, fresh, whole, fortified, per gal."
0,2004-02-01,2004,M02,0.504,0.725,0.943,1.510,1.060,0.091,1.583,1.672,2.558,1.021,2.814
1,2004-03-01,2004,M03,0.500,0.730,0.947,1.529,1.100,0.091,1.625,1.766,2.473,0.992,2.786
2,2004-04-01,2004,M04,0.505,0.744,0.974,1.519,1.120,0.091,1.562,1.833,2.486,0.998,2.906
3,2004-05-01,2004,M05,0.491,0.770,0.960,1.510,1.039,0.093,1.372,2.009,2.522,1.006,3.374
4,2004-06-01,2004,M06,0.498,0.878,0.979,1.331,1.060,0.099,1.311,2.041,2.485,1.047,3.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2023-10-01,2023,M10,0.626,1.693,2.002,1.865,1.926,0.169,2.072,3.782,5.349,1.388,3.927
237,2023-11-01,2023,M11,0.627,1.664,1.976,1.942,1.976,0.168,2.138,3.500,5.201,1.442,3.997
238,2023-12-01,2023,M12,0.625,1.601,2.024,1.995,1.955,0.169,2.507,3.289,5.118,1.429,4.008
239,2024-01-01,2024,M01,0.617,1.550,2.033,2.146,1.987,0.173,2.522,3.221,5.093,1.452,3.958
240,2024-02-01,2024,M02,0.625,1.532,2.006,2.132,1.951,0.173,2.996,3.359,5.213,1.465,3.940

### Final Merged

In [46]:
# Filter household_foods dataframe
household_foods = household_foods[(household_foods['year'] > 2004) | ((household_foods['year'] == 2004) & (household_foods['period'] >= 'M02'))]

# Filter PPI dataframe
PPI = PPI[(PPI['year'] > 2004) | ((PPI['year'] == 2004) & (PPI['period'] >= 'M02'))]

# Filter pivot_df dataframe
pivot_df = pivot_df[(pivot_df['year'] > 2004) | ((pivot_df['year'] == 2004) & (pivot_df['period'] >= 'M02'))]

# Merge household_foods with PPI on 'year' and 'period'
merged_df = pd.merge(household_foods, PPI, on=['year', 'period'], how='inner')

# Merge merged_df with pivot_df on 'year' and 'period'
final_df = pd.merge(merged_df, pivot_df, on=['year', 'period'], how='inner')

# Sort the final dataframe by 'year' and 'period'
final_df = final_df.sort_values(by=['year', 'period'])

final_df

,Month,year,period,"Bananas, per lb.","Oranges, Navel, per lb.","Bread, white, pan, per lb.","Tomatoes, field grown, per lb.","Chicken, fresh, whole, per lb.",Electricity per KWH,"Eggs, grade A, large, per doz.",...,Food and non-alcoholic beverages - Percent Change 6 month,Food and non-alcoholic beverages - Percent Change 1yr,Housing - Percent Change 1 month,Housing - Percent Change 3 month,Housing - Percent Change 6 month,Housing - Percent Change 1yr,Total - Percent Change 1 month,Total - Percent Change 3 month,Total - Percent Change 6 month,Total - Percent Change 1yr
0,2004-02-01,2004,M02,0.504,0.725,0.943,1.510,1.060,0.091,1.583,...,31.306339,296.396444,-0.363129,-5.080195,-5.036681,-19.945206,-12.105789,-4.077324,-21.554687,-43.202487
1,2004-03-01,2004,M03,0.500,0.730,0.947,1.529,1.100,0.091,1.625,...,32.798902,367.714493,27.912485,21.358672,23.827084,8.649872,2.609352,-7.568485,-25.133143,-42.477983
2,2004-04-01,2004,M04,0.505,0.744,0.974,1.519,1.120,0.091,1.562,...,4.931610,651.720145,11.915046,42.633485,28.005087,37.436383,31.535676,18.628975,11.969575,2.714935
3,2004-05-01,2004,M05,0.491,0.770,0.960,1.510,1.039,0.093,1.372,...,25.886428,277.659379,-6.357469,34.052389,27.242266,12.015721,33.551282,80.251367,72.901934,48.299578
4,2004-06-01,2004,M06,0.498,0.878,0.979,1.331,1.060,0.099,1.311,...,-2.795544,98.148275,6.355585,11.460740,35.267275,31.716861,7.026215,88.010364,73.780827,54.628518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2023-09-01,2023,M09,0.625,1.637,1.972,1.844,1.901,0.171,2.065,...,-71.450598,-81.612967,-3.586496,-9.539469,-12.490919,5.502819,0.943655,24.603442,-25.783003,-54.890919
236,2023-10-01,2023,M10,0.626,1.693,2.002,1.865,1.926,0.169,2.072,...,-70.778991,-83.533210,-3.273725,-10.707491,-16.072208,-1.138728,-12.394336,1.994002,-34.260961,-58.154082
237,2023-11-01,2023,M11,0.627,1.664,1.976,1.942,1.976,0.168,2.138,...,-71.605152,-86.589208,-2.886957,-9.435103,-17.599587,-7.493493,-3.204855,-14.401770,-22.490759,-55.877237
238,2023-12-01,2023,M12,0.625,1.601,2.024,1.995,1.955,0.169,2.507,...,-74.551595,-90.188711,-5.350163,-11.091783,-19.573155,-17.215972,6.848372,-9.394686,12.897341,-48.064538
239,2024-01-01,2024,M01,0.617,1.550,2.033,2.146,1.987,0.173,2.522,...,-66.672060,-89.770720,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371

In [47]:
# Check for NaN values in the DataFrame
null_values = final_df.isnull()

# Check if there are any NaN values across columns
any_null_columns = null_values.any(axis=0)

# Check if there are any NaN values across rows
any_null_rows = null_values.any(axis=1)

# Display the results
print("NaN values across columns:")
print(any_null_columns)

NaN values across columns:
Month                                                        False
year                                                         False
period                                                       False
Bananas, per lb.                                             False
Oranges, Navel, per lb.                                       True
Bread, white, pan, per lb.                                   False
Tomatoes, field grown, per lb.                                True
Chicken, fresh, whole, per lb.                                True
Electricity per KWH                                          False
Eggs, grade A, large, per doz.                               False
Gasoline, unleaded regular, per gallon                       False
Ground chuck, 100% beef, per lb.                             False
Utility (piped) gas per therm                                False
Milk, fresh, whole, fortified, per gal.                      False
       value_FarmProducts                                    False
       value_ProcessedFoods                                  False
       value                                                 False
REF_AREA                                                     False
TIME_PERIOD                                                  False
Food and non-alcoholic beverages                             False
Housing                                                      False
Total                                                        False
Food and non-alcoholic beverages - Percent Change 1 month    False
Food and non-alcoholic beverages - Percent Change 3 month    False
Food and non-alcoholic beverages - Percent Change 6 month    False
Food and non-alcoholic beverages - Percent Change 1yr        False
Housing - Percent Change 1 month                             False
Housing - Percent Change 3 month                             False
Housing - Percent Change 6 month                             False
Housing - Percent Change 1yr                                 False
Total - Percent Change 1 month                               False
Total - Percent Change 3 month                               False
Total - Percent Change 6 month                               False
Total - Percent Change 1yr                                   False
dtype: bool

In [48]:
# Count the NaN values in each column
nan_counts_per_column = final_df.isna().sum()

# Extract the entries where NaNs occur
nan_entries = final_df[final_df.isna().any(axis=1)]

# Display the results
print("NaN counts per column:")
print(nan_counts_per_column)

print("\nEntries with NaN values:")
print(nan_entries)

NaN counts per column:
Month                                                         0
year                                                          0
period                                                        0
Bananas, per lb.                                              0
Oranges, Navel, per lb.                                      10
Bread, white, pan, per lb.                                    0
Tomatoes, field grown, per lb.                                3
Chicken, fresh, whole, per lb.                                1
Electricity per KWH                                           0
Eggs, grade A, large, per doz.                                0
Gasoline, unleaded regular, per gallon                        0
Ground chuck, 100% beef, per lb.                              0
Utility (piped) gas per therm                                 0
Milk, fresh, whole, fortified, per gal.                       0
       value_FarmProducts                                     0
       value_ProcessedFoods                                   0
       value                                                  0
REF_AREA                                                      0
TIME_PERIOD                                                   0
Food and non-alcoholic beverages                              0
Housing                                                       0
Total                                                         0
Food and non-alcoholic beverages - Percent Change 1 month     0
Food and non-alcoholic beverages - Percent Change 3 month     0
Food and non-alcoholic beverages - Percent Change 6 month     0
Food and non-alcoholic beverages - Percent Change 1yr         0
Housing - Percent Change 1 month                              0
Housing - Percent Change 3 month                              0
Housing - Percent Change 6 month                              0
Housing - Percent Change 1yr                                  0
Total - Percent Change 1 month                                0
Total - Percent Change 3 month                                0
Total - Percent Change 6 month                                0
Total - Percent Change 1yr                                    0
dtype: int64

Entries with NaN values:
         Month  year period  Bananas, per lb. Oranges, Navel, per lb.  \
116 2013-10-01  2013    M10             0.586                   1.328
193 2020-03-01  2020    M03             0.576                   1.174
194 2020-04-01  2020    M04             0.581                     NaN
195 2020-05-01  2020    M05             0.589                   1.209
197 2020-07-01  2020    M07             0.580                     NaN
198 2020-08-01  2020    M08             0.576                     NaN
199 2020-09-01  2020    M09             0.574                     NaN
200 2020-10-01  2020    M10             0.577                     NaN
201 2020-11-01  2020    M11             0.578                     NaN
209 2021-07-01  2021    M07             0.594                     NaN
210 2021-08-01  2021    M08             0.589                     NaN
211 2021-09-01  2021    M09             0.597                     NaN
221 2022-07-01  2022    M07             0.640                     NaN

     Bread, white, pan, per lb.  Tomatoes, field grown, per lb.  \
116                       1.358                             NaN
193                       1.374                             NaN
194                       1.406                             NaN
195                       1.412                           1.851
197                       1.485                           1.977
198                       1.495                           1.874
199                       1.492                           1.847
200                       1.503                           1.911
201                       1.515                           1.935
209                       1.491                           1.827
210                       1.467                           1.858
211                       1.580                           1.828
221                       1.715                           1.842

     Chicken, fresh, whole, per lb.  Electricity per KWH  \
116                           1.543                0.132
193                           1.400                0.134
194                           1.571                0.133
195                             NaN                0.134
197                           1.712                0.137
198                           1.609                0.137
199                           1.542                0.137
200                           1.580                0.135
201                           1.639                0.136
209                           1.435                0.143
210                           1.472                0.144
211                           1.504                0.144
221                           1.880                0.164

     Eggs, grade A, large, per doz.  ...  \
116                           1.925  ...
193                           1.525  ...
194                           2.019  ...
195                           1.640  ...
197                           1.401  ...
198                           1.328  ...
199                           1.353  ...
200                           1.408  ...
201                           1.450  ...
209                           1.642  ...
210                           1.709  ...
211                           1.835  ...
221                           2.936  ...

     Food and non-alcoholic beverages - Percent Change 6 month  \
116                                         -17.515277
193                                          82.419399
194                                         297.574736
195                                         386.562756
197                                         546.179246
198                                         467.247090
199                                         280.405293
200                                          -2.542027
201                                         -25.248410
209                                         -30.500619
210                                         -16.159812
211                                          37.096542
221                                          78.947595

     Food and non-alcoholic beverages - Percent Change 1yr  \
116                                         -14.029875
193                                         -25.151705
194                                         456.167484
195                                         301.177876
197                                         615.176734
198                                         877.321893
199                                         593.933050
200                                         287.468279
201                                         263.713395
209                                         -44.663596
210                                         -35.827331
211                                          10.687654
221                                         411.778585

     Housing - Percent Change 1 month  Housing - Percent Change 3 month  \
116                         -3.629231                         -3.074407
193                         -1.951362                         -1.475022
194                         -5.126286                         -8.310435
195                         -0.453757                         -7.399712
197                         -1.779455                         -9.487912
198                         -4.371701                        -13.050289
199                         -7.224149                        -12.858764
200                         -0.317232                        -11.561480
201                         -8.662490                        -15.529667
209                          2.935600                         16.391049
210                          6.205788                         19.873202
211                         13.571097                         24.159973
221                          7.035733                         23.683995

     Housing - Percent Change 6 month  Housing - Percent Change 1yr  \
116                          3.257102                      0.319099
193                         -5.137861                     -1.995653
194                         -7.780814                     -8.557488
195                         -6.531372                     -8.603177
197                        -17.009859                    -18.046166
198                        -19.484317                    -20.739012
199                        -23.814229                    -27.728548
200                        -19.952448                    -26.180799
201                        -26.553290                    -31.350368
209                         14.958448                    -19.136458
210                         22.293441                    -10.192105
211                         41.859827                      9.937889
221                         47.157709                    157.318118

     Total - Percent Change 1 month Total - Percent Change 3 month  \
116                      -18.677326                     -50.853188
193                      -34.072374                     -32.637224
194                      -78.620741                     -86.765044
195                      -64.166642                     -94.949346
197                       52.707334                     199.632843
198                       32.813018                    1010.561333
199                        4.709673                     112.367153
200                      -13.801178                      19.875045
201                       -0.637020                     -10.316460
209                       -0.481800                      28.987221
210                       -2.128479                       5.178854
211                        2.648444                      -0.020440
221                       -5.904606                       3.223113

    Total - Percent Change 6 month  Total - Percent Change 1yr
116                      -9.356947                  -55.436660
193                     -10.049524                  -17.352591
194                     -81.344179                  -83.515823
195                     -94.251077                  -93.412772
197                     -60.343726                  -45.564402
198                     -43.909393                  -25.153734
199                     -10.913990                  -19.866710
200                     259.185006                  -32.991089
201                     895.990720                  -42.741257
209                     283.311187                  444.120680
210                     213.281530                  300.969118
211                     105.757202                  293.075967
221                      13.970050                   58.882764

[13 rows x 34 columns]

In [49]:
final_df_interpolated = final_df.interpolate(method='linear', axis=0)
final_df_interpolated
final_df_interpolated['Oranges, Navel, per lb.'] = final_df_interpolated['Oranges, Navel, per lb.'].fillna(method='ffill')
# Backward fill NaN values
final_df_interpolated['Oranges, Navel, per lb.'] = final_df_interpolated['Oranges, Navel, per lb.'].fillna(method='bfill')

In [50]:
# Check for NaN values in the DataFrame
null_values = final_df_interpolated.isnull()

# Check if there are any NaN values across columns
any_null_columns = null_values.any(axis=0)

# Check if there are any NaN values across rows
any_null_rows = null_values.any(axis=1)

# Display the results
print("NaN values across columns:")
print(any_null_columns)

NaN values across columns:
Month                                                        False
year                                                         False
period                                                       False
Bananas, per lb.                                             False
Oranges, Navel, per lb.                                      False
Bread, white, pan, per lb.                                   False
Tomatoes, field grown, per lb.                               False
Chicken, fresh, whole, per lb.                               False
Electricity per KWH                                          False
Eggs, grade A, large, per doz.                               False
Gasoline, unleaded regular, per gallon                       False
Ground chuck, 100% beef, per lb.                             False
Utility (piped) gas per therm                                False
Milk, fresh, whole, fortified, per gal.                      False
       value_FarmProducts                                    False
       value_ProcessedFoods                                  False
       value                                                 False
REF_AREA                                                     False
TIME_PERIOD                                                  False
Food and non-alcoholic beverages                             False
Housing                                                      False
Total                                                        False
Food and non-alcoholic beverages - Percent Change 1 month    False
Food and non-alcoholic beverages - Percent Change 3 month    False
Food and non-alcoholic beverages - Percent Change 6 month    False
Food and non-alcoholic beverages - Percent Change 1yr        False
Housing - Percent Change 1 month                             False
Housing - Percent Change 3 month                             False
Housing - Percent Change 6 month                             False
Housing - Percent Change 1yr                                 False
Total - Percent Change 1 month                               False
Total - Percent Change 3 month                               False
Total - Percent Change 6 month                               False
Total - Percent Change 1yr                                   False
dtype: bool

In [51]:
# Count the NaN values in each column
nan_counts_per_column = final_df_interpolated.isna().sum()

# Extract the entries where NaNs occur
nan_entries = final_df_interpolated[final_df_interpolated.isna().any(axis=1)]

# Display the results
print("NaN counts per column:")
print(nan_counts_per_column)

print("\nEntries with NaN values:")
print(nan_entries)

NaN counts per column:
Month                                                        0
year                                                         0
period                                                       0
Bananas, per lb.                                             0
Oranges, Navel, per lb.                                      0
Bread, white, pan, per lb.                                   0
Tomatoes, field grown, per lb.                               0
Chicken, fresh, whole, per lb.                               0
Electricity per KWH                                          0
Eggs, grade A, large, per doz.                               0
Gasoline, unleaded regular, per gallon                       0
Ground chuck, 100% beef, per lb.                             0
Utility (piped) gas per therm                                0
Milk, fresh, whole, fortified, per gal.                      0
       value_FarmProducts                                    0
       value_ProcessedFoods                                  0
       value                                                 0
REF_AREA                                                     0
TIME_PERIOD                                                  0
Food and non-alcoholic beverages                             0
Housing                                                      0
Total                                                        0
Food and non-alcoholic beverages - Percent Change 1 month    0
Food and non-alcoholic beverages - Percent Change 3 month    0
Food and non-alcoholic beverages - Percent Change 6 month    0
Food and non-alcoholic beverages - Percent Change 1yr        0
Housing - Percent Change 1 month                             0
Housing - Percent Change 3 month                             0
Housing - Percent Change 6 month                             0
Housing - Percent Change 1yr                                 0
Total - Percent Change 1 month                               0
Total - Percent Change 3 month                               0
Total - Percent Change 6 month                               0
Total - Percent Change 1yr                                   0
dtype: int64

Entries with NaN values:
Empty DataFrame
Columns: [Month, year, period, Bananas, per lb., Oranges, Navel, per lb., Bread, white, pan, per lb., Tomatoes, field grown, per lb., Chicken, fresh, whole, per lb., Electricity per KWH, Eggs, grade A, large, per doz., Gasoline, unleaded regular, per gallon, Ground chuck, 100% beef, per lb., Utility (piped) gas per therm, Milk, fresh, whole, fortified, per gal.,        value_FarmProducts,        value_ProcessedFoods,        value, REF_AREA, TIME_PERIOD, Food and non-alcoholic beverages, Housing, Total, Food and non-alcoholic beverages - Percent Change 1 month, Food and non-alcoholic beverages - Percent Change 3 month, Food and non-alcoholic beverages - Percent Change 6 month, Food and non-alcoholic beverages - Percent Change 1yr, Housing - Percent Change 1 month, Housing - Percent Change 3 month, Housing - Percent Change 6 month, Housing - Percent Change 1yr, Total - Percent Change 1 month, Total - Percent Change 3 month, Total - Percent Change 6 month, Total - Percent Change 1yr]
Index: []

[0 rows x 34 columns]

In [52]:
final_df_interpolated

,Month,year,period,"Bananas, per lb.","Oranges, Navel, per lb.","Bread, white, pan, per lb.","Tomatoes, field grown, per lb.","Chicken, fresh, whole, per lb.",Electricity per KWH,"Eggs, grade A, large, per doz.",...,Food and non-alcoholic beverages - Percent Change 6 month,Food and non-alcoholic beverages - Percent Change 1yr,Housing - Percent Change 1 month,Housing - Percent Change 3 month,Housing - Percent Change 6 month,Housing - Percent Change 1yr,Total - Percent Change 1 month,Total - Percent Change 3 month,Total - Percent Change 6 month,Total - Percent Change 1yr
0,2004-02-01,2004,M02,0.504,0.725,0.943,1.510,1.060,0.091,1.583,...,31.306339,296.396444,-0.363129,-5.080195,-5.036681,-19.945206,-12.105789,-4.077324,-21.554687,-43.202487
1,2004-03-01,2004,M03,0.500,0.730,0.947,1.529,1.100,0.091,1.625,...,32.798902,367.714493,27.912485,21.358672,23.827084,8.649872,2.609352,-7.568485,-25.133143,-42.477983
2,2004-04-01,2004,M04,0.505,0.744,0.974,1.519,1.120,0.091,1.562,...,4.931610,651.720145,11.915046,42.633485,28.005087,37.436383,31.535676,18.628975,11.969575,2.714935
3,2004-05-01,2004,M05,0.491,0.770,0.960,1.510,1.039,0.093,1.372,...,25.886428,277.659379,-6.357469,34.052389,27.242266,12.015721,33.551282,80.251367,72.901934,48.299578
4,2004-06-01,2004,M06,0.498,0.878,0.979,1.331,1.060,0.099,1.311,...,-2.795544,98.148275,6.355585,11.460740,35.267275,31.716861,7.026215,88.010364,73.780827,54.628518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2023-09-01,2023,M09,0.625,1.637,1.972,1.844,1.901,0.171,2.065,...,-71.450598,-81.612967,-3.586496,-9.539469,-12.490919,5.502819,0.943655,24.603442,-25.783003,-54.890919
236,2023-10-01,2023,M10,0.626,1.693,2.002,1.865,1.926,0.169,2.072,...,-70.778991,-83.533210,-3.273725,-10.707491,-16.072208,-1.138728,-12.394336,1.994002,-34.260961,-58.154082
237,2023-11-01,2023,M11,0.627,1.664,1.976,1.942,1.976,0.168,2.138,...,-71.605152,-86.589208,-2.886957,-9.435103,-17.599587,-7.493493,-3.204855,-14.401770,-22.490759,-55.877237
238,2023-12-01,2023,M12,0.625,1.601,2.024,1.995,1.955,0.169,2.507,...,-74.551595,-90.188711,-5.350163,-11.091783,-19.573155,-17.215972,6.848372,-9.394686,12.897341,-48.064538
239,2024-01-01,2024,M01,0.617,1.550,2.033,2.146,1.987,0.173,2.522,...,-66.672060,-89.770720,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371

In [53]:
file_path = 'household_foods&PPI&CPI.csv'

# Save the DataFrame as a CSV file
final_df_interpolated.to_csv(file_path, index=False)

print("CSV file saved successfully.")

CSV file saved successfully.

In [54]:
final_df_interpolated=pd.read_csv('household_foods&PPI&CPI.csv')

In [55]:
# Check for NaN values in the DataFrame
null_values = final_df_interpolated.isnull()

# Check if there are any NaN values across columns
any_null_columns = null_values.any(axis=0)

# Check if there are any NaN values across rows
any_null_rows = null_values.any(axis=1)

# Display the results
print("NaN values across columns:")
print(any_null_columns)

NaN values across columns:
Month                                                        False
year                                                         False
period                                                       False
Bananas, per lb.                                             False
Oranges, Navel, per lb.                                      False
Bread, white, pan, per lb.                                   False
Tomatoes, field grown, per lb.                               False
Chicken, fresh, whole, per lb.                               False
Electricity per KWH                                          False
Eggs, grade A, large, per doz.                               False
Gasoline, unleaded regular, per gallon                       False
Ground chuck, 100% beef, per lb.                             False
Utility (piped) gas per therm                                False
Milk, fresh, whole, fortified, per gal.                      False
       value_FarmProducts                                    False
       value_ProcessedFoods                                  False
       value                                                 False
REF_AREA                                                     False
TIME_PERIOD                                                  False
Food and non-alcoholic beverages                             False
Housing                                                      False
Total                                                        False
Food and non-alcoholic beverages - Percent Change 1 month    False
Food and non-alcoholic beverages - Percent Change 3 month    False
Food and non-alcoholic beverages - Percent Change 6 month    False
Food and non-alcoholic beverages - Percent Change 1yr        False
Housing - Percent Change 1 month                             False
Housing - Percent Change 3 month                             False
Housing - Percent Change 6 month                             False
Housing - Percent Change 1yr                                 False
Total - Percent Change 1 month                               False
Total - Percent Change 3 month                               False
Total - Percent Change 6 month                               False
Total - Percent Change 1yr                                   False
dtype: bool

In [56]:
# Count the NaN values in each column
nan_counts_per_column = final_df_interpolated.isna().sum()

# Extract the entries where NaNs occur
nan_entries = final_df_interpolated[final_df_interpolated.isna().any(axis=1)]

# Display the results
print("NaN counts per column:")
print(nan_counts_per_column)

print("\nEntries with NaN values:")
print(nan_entries)

NaN counts per column:
Month                                                        0
year                                                         0
period                                                       0
Bananas, per lb.                                             0
Oranges, Navel, per lb.                                      0
Bread, white, pan, per lb.                                   0
Tomatoes, field grown, per lb.                               0
Chicken, fresh, whole, per lb.                               0
Electricity per KWH                                          0
Eggs, grade A, large, per doz.                               0
Gasoline, unleaded regular, per gallon                       0
Ground chuck, 100% beef, per lb.                             0
Utility (piped) gas per therm                                0
Milk, fresh, whole, fortified, per gal.                      0
       value_FarmProducts                                    0
       value_ProcessedFoods                                  0
       value                                                 0
REF_AREA                                                     0
TIME_PERIOD                                                  0
Food and non-alcoholic beverages                             0
Housing                                                      0
Total                                                        0
Food and non-alcoholic beverages - Percent Change 1 month    0
Food and non-alcoholic beverages - Percent Change 3 month    0
Food and non-alcoholic beverages - Percent Change 6 month    0
Food and non-alcoholic beverages - Percent Change 1yr        0
Housing - Percent Change 1 month                             0
Housing - Percent Change 3 month                             0
Housing - Percent Change 6 month                             0
Housing - Percent Change 1yr                                 0
Total - Percent Change 1 month                               0
Total - Percent Change 3 month                               0
Total - Percent Change 6 month                               0
Total - Percent Change 1yr                                   0
dtype: int64

Entries with NaN values:
Empty DataFrame
Columns: [Month, year, period, Bananas, per lb., Oranges, Navel, per lb., Bread, white, pan, per lb., Tomatoes, field grown, per lb., Chicken, fresh, whole, per lb., Electricity per KWH, Eggs, grade A, large, per doz., Gasoline, unleaded regular, per gallon, Ground chuck, 100% beef, per lb., Utility (piped) gas per therm, Milk, fresh, whole, fortified, per gal.,        value_FarmProducts,        value_ProcessedFoods,        value, REF_AREA, TIME_PERIOD, Food and non-alcoholic beverages, Housing, Total, Food and non-alcoholic beverages - Percent Change 1 month, Food and non-alcoholic beverages - Percent Change 3 month, Food and non-alcoholic beverages - Percent Change 6 month, Food and non-alcoholic beverages - Percent Change 1yr, Housing - Percent Change 1 month, Housing - Percent Change 3 month, Housing - Percent Change 6 month, Housing - Percent Change 1yr, Total - Percent Change 1 month, Total - Percent Change 3 month, Total - Percent Change 6 month, Total - Percent Change 1yr]
Index: []

[0 rows x 34 columns]

In [57]:
final_df_interpolated

,Month,year,period,"Bananas, per lb.","Oranges, Navel, per lb.","Bread, white, pan, per lb.","Tomatoes, field grown, per lb.","Chicken, fresh, whole, per lb.",Electricity per KWH,"Eggs, grade A, large, per doz.",...,Food and non-alcoholic beverages - Percent Change 6 month,Food and non-alcoholic beverages - Percent Change 1yr,Housing - Percent Change 1 month,Housing - Percent Change 3 month,Housing - Percent Change 6 month,Housing - Percent Change 1yr,Total - Percent Change 1 month,Total - Percent Change 3 month,Total - Percent Change 6 month,Total - Percent Change 1yr
0,2004-02-01,2004,M02,0.504,0.725,0.943,1.510,1.060,0.091,1.583,...,31.306339,296.396444,-0.363129,-5.080195,-5.036681,-19.945206,-12.105789,-4.077324,-21.554687,-43.202487
1,2004-03-01,2004,M03,0.500,0.730,0.947,1.529,1.100,0.091,1.625,...,32.798902,367.714493,27.912485,21.358672,23.827084,8.649872,2.609352,-7.568485,-25.133143,-42.477983
2,2004-04-01,2004,M04,0.505,0.744,0.974,1.519,1.120,0.091,1.562,...,4.931610,651.720145,11.915046,42.633485,28.005087,37.436383,31.535676,18.628975,11.969575,2.714935
3,2004-05-01,2004,M05,0.491,0.770,0.960,1.510,1.039,0.093,1.372,...,25.886428,277.659379,-6.357469,34.052389,27.242266,12.015721,33.551282,80.251367,72.901934,48.299578
4,2004-06-01,2004,M06,0.498,0.878,0.979,1.331,1.060,0.099,1.311,...,-2.795544,98.148275,6.355585,11.460740,35.267275,31.716861,7.026215,88.010364,73.780827,54.628518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2023-09-01,2023,M09,0.625,1.637,1.972,1.844,1.901,0.171,2.065,...,-71.450598,-81.612967,-3.586496,-9.539469,-12.490919,5.502819,0.943655,24.603442,-25.783003,-54.890919
236,2023-10-01,2023,M10,0.626,1.693,2.002,1.865,1.926,0.169,2.072,...,-70.778991,-83.533210,-3.273725,-10.707491,-16.072208,-1.138728,-12.394336,1.994002,-34.260961,-58.154082
237,2023-11-01,2023,M11,0.627,1.664,1.976,1.942,1.976,0.168,2.138,...,-71.605152,-86.589208,-2.886957,-9.435103,-17.599587,-7.493493,-3.204855,-14.401770,-22.490759,-55.877237
238,2023-12-01,2023,M12,0.625,1.601,2.024,1.995,1.955,0.169,2.507,...,-74.551595,-90.188711,-5.350163,-11.091783,-19.573155,-17.215972,6.848372,-9.394686,12.897341,-48.064538
239,2024-01-01,2024,M01,0.617,1.550,2.033,2.146,1.987,0.173,2.522,...,-66.672060,-89.770720,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371

### Modifying Internal Dataset for Current and Future Data Merges

In [70]:
import pandas as pd
pln = pd.read_csv('PLN_TO_ITM_WK (KNA_COMRCL)_PLN_TO_ITM_WK.csv')

In [71]:
pln

,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,Fisc Yr,Lvl A,Lvl B,...,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas,Sugstd Shlf Prc Sas,Totl Pln Kmf Cost Of Prod Usd
0,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325643,F,CONVENIENCE,Specialty,202017,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,F,CONVENIENCE,Specialty,202018,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,F,CONVENIENCE,Specialty,202020,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
from datetime import datetime, timedelta

# Assuming your DataFrame is named 'pln'
# Extracting year and week from 'Yr & Wk' column
pln['Year'] = pln['Yr & Wk'].str.extract('(\d{4})&\d+').astype(int)
pln['Week'] = pln['Yr & Wk'].str.extract('\d+&(\d+)').astype(int)

# Function to get the first day of the month from year and week
def get_first_day_of_month(year, week):
    # Assuming week 1 starts from January 1st
    first_day_of_year = datetime(year, 1, 1)
    # Calculate the date of the first day of the month
    first_day_of_month = first_day_of_year + timedelta(weeks=week-1)
    # Set day to 01 explicitly
    first_day_of_month = first_day_of_month.replace(day=1)
    return first_day_of_month

# Applying the function to create the 'Month' column
pln['Month'] = pln.apply(lambda row: get_first_day_of_month(row['Year'], row['Week']), axis=1)

# Formatting the 'Month' column to YYYY-MM-DD format
pln['Month'] = pln['Month'].dt.strftime('%Y-%m-%d')

# Dropping intermediate columns if needed
pln.drop(['Year', 'Week'], axis=1, inplace=True)

# Reordering columns so that 'Month' comes as the first column
columns = pln.columns.tolist()
columns = ['Month'] + [col for col in columns if col != 'Month']
pln = pln[columns]

In [73]:
pln

,Month,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,Fisc Yr,Lvl A,...,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas,Sugstd Shlf Prc Sas,Totl Pln Kmf Cost Of Prod Usd
0,2023-01-01,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-01,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-01,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-01,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-01,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325643,2020-04-01,F,CONVENIENCE,Specialty,202017,NPF,TOASTER PASTRIES,CAD,2020,CANADA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,2020-04-01,F,CONVENIENCE,Specialty,202018,NPF,TOASTER PASTRIES,CAD,2020,CANADA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,2020-05-01,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,2020-05-01,F,CONVENIENCE,Specialty,202020,NPF,TOASTER PASTRIES,CAD,2020,CANADA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,2020-05-01,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
import pandas as pd

# Assuming your DataFrame is named 'pln'

# Extracting year and period from the 'Month' column
pln['year'] = pd.to_datetime(pln['Month']).dt.year
pln['period'] = pd.to_datetime(pln['Month']).dt.strftime('M%m')

# Reordering columns so that 'year' and 'period' come as the second and third columns
columns = pln.columns.tolist()
columns = [columns[0]] + ['year', 'period'] + columns[1:]
pln = pln.reindex(columns=columns)

/opt/software/Python/3.6.4-foss-2018a/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/software/Python/3.6.4-foss-2018a/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [75]:
pln

,Month,year,period,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,...,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas,Sugstd Shlf Prc Sas,Totl Pln Kmf Cost Of Prod Usd,year,period
0,2023-01-01,2023,M01,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,M01
1,2023-01-01,2023,M01,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,M01
2,2023-01-01,2023,M01,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,M01
3,2023-01-01,2023,M01,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,M01
4,2023-01-01,2023,M01,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,M01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325643,2020-04-01,2020,M04,F,CONVENIENCE,Specialty,202017,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,M04
1325644,2020-04-01,2020,M04,F,CONVENIENCE,Specialty,202018,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,M04
1325645,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,M05
1325646,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202020,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,M05
1325647,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,M05

In [76]:
import pandas as pd

# Assuming 'year' and 'period' are the duplicate column names
pln = pln.loc[:,~pln.columns.duplicated()]

# If the duplicate columns are at the end of the DataFrame
pln = pln.iloc[:, :-2]
pln

,Month,year,period,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,...,Pln Incr Units,Pln Kmf,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas
0,2023-01-01,2023,M01,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-01,2023,M01,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-01,2023,M01,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-01,2023,M01,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-01,2023,M01,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325643,2020-04-01,2020,M04,F,CONVENIENCE,Specialty,202017,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,2020-04-01,2020,M04,F,CONVENIENCE,Specialty,202018,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202020,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,2020-05-01,2020,M05,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
pln = pln.sort_values(by='Cal Wk')

In [81]:
pln

,Month,year,period,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,...,Pln Incr Units,Pln Kmf,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas
202858,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,69.25,604.75,4118.01,2752.69,204.98,1639.85,274.27,604.69,4722.76,86.0
472702,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,0.00,720.65,-720.65,-720.65,0.00,0.00,0.00,0.00,0.00,0.0
1157186,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
472755,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
1157167,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134972,2024-12-01,2024,M12,S,PWS,K1,202452,NPF,TOASTER PASTRIES,USD,...,0.00,74.70,987.72,752.09,23.06,276.67,159.36,351.33,1062.42,18.0
608493,2024-12-01,2024,M12,F,PWS,K1,202452,NPF,TOASTER PASTRIES,USD,...,0.00,113.22,16530.08,12770.24,471.75,5660.99,2173.82,4792.50,16643.30,585.0
176727,2024-12-01,2024,M12,S,PWS,K1,202452,NPF,TOASTER PASTRIES,USD,...,0.00,205.59,-170.31,-180.46,1.00,12.00,4.59,10.13,35.28,1.0
688686,2024-12-01,2024,M12,S,PWS,K1,202452,NPF,TOASTER PASTRIES,USD,...,0.00,0.00,83.07,49.23,5.13,25.64,5.09,11.22,83.07,4.0
536766,2024-12-01,2024,M12,F,PWS,K1,202452,NPF,TOASTER PASTRIES,USD,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0

In [80]:
pln.to_csv('pln_for_merging.csv', index=False)

In [82]:
# Print the column names of both DataFrames
print("pln columns:", pln.columns)
print("final_df_interpolated columns:", final_df_interpolated.columns)

pln columns: Index(['Month', 'year', 'period', 'All In Flg', 'Alt Segment', 'BU', 'Cal Wk',
       'Can Catg', 'Catg', 'Curr', 'Fisc Yr', 'Lvl A', 'Lvl B', 'Lvl C',
       'Lvl D', 'Lvl E', 'Matrl', 'Mixd Plt Flg', 'Mixd Plt Matrl',
       'Mixd Plt Matrl Desc', 'Pd Yr', 'Pln To Nbr', 'Pln To Nm',
       'Prod Hier Brand', 'Prod Hier Brand Desc', 'Prod Hier Typ',
       'Prod Hier Typ Desc', 'QTR', 'Sub Catg', 'SZ', 'Tier Nm', 'WK',
       'Yr & Wk', 'Act Nsv Prxy Usd', 'Act Sc Prxy Usd',
       'Actl Cost Of Prod Usd', 'Actl Ship Cs', 'Actl Ship Kg',
       'Actl Ship Lbs', 'Actl Ship Units', 'Actl Ship Usd',
       'Latst Estmt Cost Of Prod Usd', 'Latst Estmt Cost Of Prod Usd Fxd',
       'Latst Estmt Gsv', 'Latst Estmt Kmf Usd', 'Latst Estmt Nsv Prxy Usd',
       'Latst Estmt Sc Prxy Usd', 'Latst Estmt Sc Prxy Usd Gsv',
       'Latst Estmt Ship Lbs', 'Latst Estmt Ship Units', 'Le Cop Fixed',
       'Le Cs', 'Le Kgs', 'Le Price Chng Usd', 'PD', 'Pln Base Cs',
       'Pln Base Lbs', 'Pln Base Rtn Usd', 'Pln Base Units', 'Pln Base Usd',
       'Pln Cons Lbs', 'Pln Cons Rtn Usd', 'Pln Cons Units', 'Pln Cons Usd',
       'Pln Inc Usd', 'Pln Incr Cs', 'Pln Incr Lbs', 'Pln Incr Rtn Usd',
       'Pln Incr Ship Cs', 'Pln Incr Ship Kgs', 'Pln Incr Ship Lbs',
       'Pln Incr Ship Units', 'Pln Incr Ship Usd', 'Pln Incr Units', 'Pln Kmf',
       'Pln Nsv Prxy Usd', 'Pln Sc Prxy Usd', 'Pln Ship Cs', 'Pln Ship Ea',
       'Pln Ship Kg', 'Pln Ship Lbs', 'Pln Ship Usd', 'Sugstd Base Vol Sas'],
      dtype='object')
final_df_interpolated columns: Index(['Month', 'year', 'period', 'Bananas, per lb.',
       'Oranges, Navel, per lb.', 'Bread, white, pan, per lb.',
       'Tomatoes, field grown, per lb.', 'Chicken, fresh, whole, per lb.',
       'Electricity per KWH', 'Eggs, grade A, large, per doz.',
       'Gasoline, unleaded regular, per gallon',
       'Ground chuck, 100% beef, per lb.', 'Utility (piped) gas per therm',
       'Milk, fresh, whole, fortified, per gal.', '       value_FarmProducts',
       '       value_ProcessedFoods', '       value', 'REF_AREA',
       'TIME_PERIOD', 'Food and non-alcoholic beverages', 'Housing', 'Total',
       'Food and non-alcoholic beverages - Percent Change 1 month',
       'Food and non-alcoholic beverages - Percent Change 3 month',
       'Food and non-alcoholic beverages - Percent Change 6 month',
       'Food and non-alcoholic beverages - Percent Change 1yr',
       'Housing - Percent Change 1 month', 'Housing - Percent Change 3 month',
       'Housing - Percent Change 6 month', 'Housing - Percent Change 1yr',
       'Total - Percent Change 1 month', 'Total - Percent Change 3 month',
       'Total - Percent Change 6 month', 'Total - Percent Change 1yr'],
      dtype='object')

In [83]:
final_merged = pd.merge(pln, final_df_interpolated, on=['Month', 'year', 'period'], how='inner')
final_merged

,Month,year,period,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,...,Food and non-alcoholic beverages - Percent Change 6 month,Food and non-alcoholic beverages - Percent Change 1yr,Housing - Percent Change 1 month,Housing - Percent Change 3 month,Housing - Percent Change 6 month,Housing - Percent Change 1yr,Total - Percent Change 1 month,Total - Percent Change 3 month,Total - Percent Change 6 month,Total - Percent Change 1yr
0,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,10.677763,10.19325,1.946503,0.577624,-1.248711,5.581669,8.815341,40.958695,37.268564,60.296280
1,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,10.677763,10.19325,1.946503,0.577624,-1.248711,5.581669,8.815341,40.958695,37.268564,60.296280
2,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,10.677763,10.19325,1.946503,0.577624,-1.248711,5.581669,8.815341,40.958695,37.268564,60.296280
3,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,10.677763,10.19325,1.946503,0.577624,-1.248711,5.581669,8.815341,40.958695,37.268564,60.296280
4,2020-01-01,2020,M01,F,PWS,K1,202001,NPF,TOASTER PASTRIES,USD,...,10.677763,10.19325,1.946503,0.577624,-1.248711,5.581669,8.815341,40.958695,37.268564,60.296280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146331,2024-01-01,2024,M01,S,PWS,K1,202405,NPF,TOASTER PASTRIES,USD,...,-66.672060,-89.77072,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371
1146332,2024-01-01,2024,M01,F,PWS,K1,202405,NPF,TOASTER PASTRIES,USD,...,-66.672060,-89.77072,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371
1146333,2024-01-01,2024,M01,S,PWS,K1,202405,NPF,TOASTER PASTRIES,USD,...,-66.672060,-89.77072,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371
1146334,2024-01-01,2024,M01,S,PWS,K1,202405,NPF,TOASTER PASTRIES,USD,...,-66.672060,-89.77072,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371
1146335,2024-01-01,2024,M01,F,PWS,K1,202405,NPF,TOASTER PASTRIES,USD,...,-66.672060,-89.77072,-100.000000,-100.000000,-100.000000,-100.000000,-7.793210,-4.636016,-2.734456,-51.781371

In [84]:
final_merged.to_csv('final_merged.csv', index=False)